






.dat*
.repl_history
.rvmrc
*.bridgesupport
*.gem
*.rbc
/_yardoc/
/.bundle/
/.config
/.yardoc
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/tmp/
/vendor/bundle
build/
